*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    color: rgb(237, 152, 152);
    background: none;
    
}


/*HEADER*/
header{
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 3%;
    
}

.ft-header img{
   display:flex;
   margin-top: 0px;
   width: 100%;
   border-radius: 100px;
}

.ft-header{
    display:flex;
    text-align: right;
    margin: 100px;
    margin-top: 0px;
}

#titulo-header h1{
text-align: left;
color:antiquewhite;
font-size: 100px;
font-family:'Times New Roman', Times, serif;
margin: 50%;


}

.header hr{
    display:flex;
    text-align: left;
    margin-top: 0em;
}

.botao{
    background-color: black;
    border: 1px solid antiquewhite;
    border-radius: 20px;
    width: 100%;
    height: 6vh;
    margin: 50%;
    margin-top: 0%;
}

.botao a{
    text-decoration: none;
    color: antiquewhite;
    
}


.insta-header{
    flex-direction: column;
    color: antiquewhite;
}

/*NAV*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    list-style: none;
    padding: 20px;
    width: 100%;
    margin:0;
    position: fixed;
    top:0;
    left: 0;
    background-color: #fff;
}

nav ul {
    display: flex;
    list-style: none; 
}


nav ul li a{
    margin: 10px;
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 20px;
  
}


/*SOBRE*/
#sobre{
    padding: 20px;
    background-color: black;
}

.quem-sou h1{
    font-family:'Times New Roman', Times, serif;
    color: antiquewhite;
    font-size: 70px;
    margin-top: 5%;
    margin: 5%;
}

.quem-sou p{
    color:#fff;
    margin-top: 1%;
    margin: 7%;
}

hr{
    display:flex;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/*PROJETOS*/


#container{
    flex-wrap: wrap;
}
#container h1{
    font-family:'Times New Roman', Times, serif;
    color: antiquewhite;
    font-size: 70px;
    margin-top: 5%;
    margin: 5%;
    text-align: center;
}

.projetos{
    display:grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}


.projetos img:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.5s;

}



#container img{
    border-radius: 200px;
    width: 200;
    height: 200px;
    box-shadow: 7px 7px 10px 0px rgb(199, 182, 159);
    border: 3px solid black ;
}

#container p{
    color: antiquewhite;
    text-align: left;
    margin: 70px;
    margin-top: 20px;
    text-align: center;
}

/*HABILIDADES*/

#habilidades h1{
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    color: antiquewhite;
    font-size: 70px;
    margin-top: 5%;
    margin: 60px;
}

.imgs-h img{
    display: inline-block;
    text-align:right;
    margin: 20px;
    margin-top: 20px;
    box-shadow: 7px 7px 10px 0px rgb(199, 182, 159);
    border-radius: 0px;
    width: 150px;
    height: 150px;
}


/*CONTATOS*/

#contatos{
    background-color: bisque;
     padding: 3%;
}
#contatos h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-size: 70px;
    margin-top: 5%;
    padding: 3%;
}

#contatos h2{
    text-align: center;
    font-family:'Arial';
    color: black;
    font-size: 20px;
    margin-top: 0px;
}